{% load static %}
{% load i18n %}
<div class="col-lg-4">

    <div class="sidebar">
        <div class="right-rklm text-center mb-3">
            <img src="{% static 'images/18205651770354023633.gif' %}" alt="">
        </div>
        <div class="sidebar-widget latest-post card border-0 p-4 mb-3 rounded">
            <div class="text-secondary">
                <p style="font-size: 1.3em;"><strong class="me-2">{% translate 'ÖNE ÇIKANLAR' %}</strong><i
                        style="font-size: 1.2em;" class="text-blue uil uil-arrow-growth"></i>
                </p>
            </div>
            {% for post_model in allpost %}
            <a style="position: relative;" href="/detail/{{post_model.url}}" class="text-dark">
                <div class="row border-bottom mt-2">
                    <div class="col-3 p-1">
                        <img class="w-100 mb-2" src="/{{post_model.cont_img}}" alt="">
                    </div>
                    <div style="z-index: 1;" class="col-9 p-1">
                        <p class="mb-1 sid-title" style="font-size: 0.9em;">
                            <strong>{{post_model.title}}</strong>
                        </p>
                        <p class="text-secondary mb-0" style="font-size: 0.6em;"><strong
                                class="me-2">{{post_model.created_date}}</strong>{{post_model.category}}
                        </p>

                    </div>
                </div>
            </a>

            {% endfor %}

            <!-- <div class="media border-bottom py-3">
                <a href="#"><img class="mr-4" src="" alt=""></a>
                <div class="media-body">
                    <h6 class="my-2"><a href="#">{{post_model.title}}</a></h6>
                    <span class="text-sm text-muted">{{post_model.created_date}}</span>
                </div>
            </div> -->

        </div>
        <div class="card border-0 p-4 mb-3 rounded">
            <div class="sidebar-widget category ">
                <div class="text-secondary">
                    <p style="font-size: 1.3em;"><strong class="me-2">{% translate 'Kategoriler' %}</strong><i
                            style="font-size: 1.2em;" class="text-blue uil uil-apps"></i>
                    </p>
                </div>
                <ul class="list-unstyled">
                    {% for categorys in category %}
                    <li class="align-items-center">
                        <a href="/{{categorys}}">{{categorys}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card border-0 p-4 mb-3 rounded">
            <div class="sidebar-widget tags ">
                <div class="text-secondary">
                    <p style="font-size: 1.3em;"><strong class="me-2">{% translate 'Etiketler' %}</strong><i
                            style="font-size: 1.2em;" class="text-blue uil uil-tag"></i>
                    </p>
                </div>
                {% for tag in tags %}
                <a href="#">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>